@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
$dark-brown: #6A4E4A;
$pale-orange: #F07A52;
$light-light-orange: #FFDBB5;
$red-fail: #F85F62;
$red-fail-border: #AE3332;

html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.welcome {
  position: absolute;
  height: 150px;
  width: 100%;
  padding: 30px;
  background-color: $pale-orange;
  color: white;
  font-family: ‘Courier New’, Courier, monospace;
  margin-top: -150px;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  padding: 150px 0 100px;
}

.footer {
  margin-bottom: -100px;
  background-color: #DDD;
  width: 100%;
  height: 100px;
  font-size: 15px;
  text-align: center;
  line-height: 100px;

  a {
    color: black;
    text-decoration: none;
    &:hover, &:active {
      color: $pale-orange;
    }
  }
}

.emblem-preview {
  min-height: 100%;
  padding: 30px;
}

.input {
  height: 500px;
  width: 100%;
  border: 1px solid $dark-brown;
  border-radius: 2px;
  margin: 30px 0;

  textarea.large {
    width: 100%;
    height: 100%;
    padding: 5px;
  }

  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(240,122,82,1);
    outline: 1px solid $pale-orange;
    border: 1px solid rgba(240,122,82,1);
  }
}


.results {
  margin-top: 30px;
  position: relative;

  .add-spinner, .error {
    width: 100%;
    border-radius: 4px;
    font-size: 13px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
  }

  .add-spinner {
    background-color: $light-light-orange;
    border: 1px solid $pale-orange;
  }

  .error {
    background-color: $red-fail;
    border: 1px solid $red-fail-border;
  }

  .loaded {
    display: none;
  }
}

.placeholder {
  margin-top: 30px;
  font-family: ‘Courier New’, Courier, monospace;
}
