{{textarea value=emblem}}

{{#emblem-preview emblem=emblem as |compiled loading error|}}
{{#if loading}}
  Loading...
{{/if}}

{{#if compiled}}
<pre>
  {{compiled}}
</pre>
{{/if}}

{{#if error}}
<div class="error">
  ERROR: {{error}}
</div>
{{/if}}
{{/emblem-preview}}
