<div class="row">
  <div class="col-md-6">
    {{textarea value=emblem class="large"}}
  </div>

  <div class="col-md-6">
    {{#emblem-preview emblem=emblem as |compiled loading error|}}
    {{#if loading}}
      Loading...
    {{/if}}

    {{#if compiled}}
    <pre>
      {{compiled}}
    </pre>
    {{/if}}

    {{#if error}}
    <div class="error">
      ERROR: {{error}}
    </div>
    {{/if}}
    {{/emblem-preview}}
  </div>
</div>

